
.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
div, p, a, title, header, h1, h2, h3, h4, footer, img, section {
  box-sizing: border-box;
    border: 1px solid red;
}
*/
