.header__logo {
    grid-area: header__logo;
    background-image: url(../../../images/header-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 176px;
    height: 52px;
}

/* big desktop */
@media screen and (max-width: 1440px) {
  
}

/* small desktop / big laptop */
@media screen and (max-width: 1280px) {
  
}

/* small laptop */
@media screen and (max-width: 1024px) {

}

/* tablet */
@media screen and (max-width: 768px) {

}

/* phohe */
@media screen and (max-width: 425px ) {
    .header__logo {
        width:  146px;
        height: 42px;
    }
}