.place__paragraphs {
    grid-area: grid__paragraphs;
    grid-row: 2/4;
    grid-column: 2/3;
    max-width: 484px;
    margin: 0 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


/* big desktop */
@media screen and (max-width: 1440px) {
  
}

/* small desktop / big laptop */
@media screen and (max-width: 1280px) {
  
}

/* small laptop */
@media screen and (max-width: 1024px) {

}

/* tablet */
@media screen and (max-width: 768px) {
    .place__paragraphs {
        grid-row: 4/5;
        grid-column: 1/2;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}

/* phohe */
@media screen and (max-width: 425px ) {
    .place__paragraphs {
        width: 90%;
        margin: 0 auto 0 auto;
        grid-row: 4/5;
        grid-column: 1/2;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
    }
}
